<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h1>{{ "Employees" | localize }}</h1>
                </div>
                <div class="col-6 text-right">
                    <a href="javascript:;" class="btn bg-blue" (click)="createEmployee()">
                        <i class="fa fa-plus-square"></i> {{ "Create" | localize }}
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="button" class="btn bg-blue" (click)="getDataPage(1)">
                  <i class="fas fa-search"></i>
                </button>
                        </div>
                        <input type="text" class="form-control" name="keyword" [placeholder]="'SearchWithThreeDot' | localize" [(ngModel)]="keyword" (keyup.enter)="getDataPage(1)" />
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap" [busy]="isTableLoading">
                        <thead class="bg-light">
                            <tr>
                                <th>{{ "Name" | localize }}</th>
                                <th>{{ "Surname" | localize }}</th>
                                <th>{{ "Address" | localize }}</th>
                                <th>{{ "Qualification" | localize }}</th>
                                <th>{{ "Contact No." | localize }}</th>
                                <th>{{ "Department" | localize }}</th>
                                <th style="width: 200px;">{{ "Actions" | localize }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="
                    let emp of employees
                      | paginate
                        : {
                            id: 'server',
                            itemsPerPage: pageSize,
                            currentPage: pageNumber,
                            totalItems: totalItems
                          }
                  ">
                                <td>{{ emp.name }}</td>
                                <td>{{emp.surname}}</td>
                                <td>{{emp.address}}</td>
                                <td>{{emp.qualification}}</td>
                                <td>{{emp.contactNumber}}</td>
                                <td>
                                    <div *ngFor='let depart of departmentlist'>
                                        <div *ngIf='emp.departmentId === depart.id'>
                                            {{depart.departmentName}}
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <button type="button" class="btn btn-sm bg-secondary" (click)="editEmployee(emp)">
                      <i class="fas fa-pencil-alt"></i>
                      {{ "Edit" | localize }}
                    </button>
                                    <button type="button" class="btn btn-sm bg-danger mx-2" (click)="delete(emp)">
                      <i class="fas fa-trash"></i>
                      {{ "Delete" | localize }}
                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer bg-light border-top">
                    <div class="row">
                        <div class="col-sm-4 col-12 text-sm-left text-center">
                            <button class="btn btn-secondary" (click)="refresh()">
                  <i class="fas fa-redo-alt"></i>
                </button>
                        </div>
                        <div class="col-sm-4 col-12 text-center">
                            <p class="mb-0 my-2">
                                {{ "TotalRecordsCount" | localize: totalItems }}
                            </p>
                        </div>
                        <div class="col-sm-4 col-12">
                            <div class="float-sm-right m-auto">
                                <abp-pagination-controls id="server" (pageChange)="getDataPage($event)">
                                </abp-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>