<form class="form-horizontal" autocomplete="off" #createEmployeeForm="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="'CreateNewEmployee' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <tabset>
            <tab [heading]="'Details' | localize" class="pt-3 px-2">
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="name">
            {{ "Employee Name" | localize }}
          </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="name" id="name" required minlength="2" maxlength="32" [(ngModel)]="employee.name" #nameModel="ngModel" #nameEl />
                        <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
                    </div>
                </div>

                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="surname">
            {{ "Surname" | localize }}
          </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="surname" id="surname" required minlength="2" maxlength="32" [(ngModel)]="employee.surname" #surnameModel="ngModel" #surnameEl />
                        <abp-validation-summary [control]="surnameModel" [controlEl]="surnameEl"></abp-validation-summary>
                    </div>
                </div>

                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="address">
            {{ "Address" | localize }}
          </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="address" id="address" required minlength="2" maxlength="32" [(ngModel)]="employee.address" #addressModel="ngModel" #addressEl />
                        <abp-validation-summary [control]="addressModel" [controlEl]="addressEl"></abp-validation-summary>
                    </div>
                </div>

                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="qualification">
            {{ "Qualification" | localize }}
          </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="qualification" id="qualification" required minlength="2" maxlength="32" [(ngModel)]="employee.qualification" #qualificationModel="ngModel" #qualificationEl />
                        <abp-validation-summary [control]="qualificationModel" [controlEl]="qualificationEl"></abp-validation-summary>
                    </div>
                </div>

                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="contactNumber">
            {{ "Contact Number" | localize }}
          </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="contactNumber" id="contactNumber" required minlength="2" maxlength="32" [(ngModel)]="employee.contactNumber" #contactNumberModel="ngModel" #contactNumberEl />
                        <abp-validation-summary [control]="contactNumberModel" [controlEl]="contactNumberEl"></abp-validation-summary>
                    </div>
                </div>

                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="department">
            {{ "Department" | localize }}
          </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="department" id="department" required minlength="2" maxlength="32" [(ngModel)]="employee.departmentId" #departmentModel="ngModel" #departmentEl />
                        <abp-validation-summary [control]="departmentModel" [controlEl]="departmentEl"></abp-validation-summary>
                    </div>
                </div>
                <!-- <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="displayName">
            {{ "DisplayName" | localize }}
          </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="displayName" id="displayName" required minlength="2" maxlength="32" [(ngModel)]="role.displayName" #displayNameModel="ngModel" #displayNameEl />
                        <abp-validation-summary [control]="displayNameModel" [controlEl]="displayNameEl"></abp-validation-summary>
                    </div>
                </div> -->
                <!-- <div class="form-group row mb-0">
                    <label class="col-md-3 col-form-label" for="description">
            {{ "RoleDescription" | localize }}
          </label>
                    <div class="col-md-9">
                        <textarea type="text" class="form-control" name="description" id="description" [(ngModel)]="role.description">
            </textarea>
                    </div>
                </div> -->
            </tab>
            <tab [heading]="'Permissions' | localize" class="pt-3 px-2">
                <div class="form-group row mb-0">
                    <ng-container *ngFor="let permission of permissions; let i = index">
                        <div class="col-md-6">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [id]="'permission_' + i" [checked]="isPermissionChecked(permission.departmentName)" (change)="onPermissionChange(permission, $event)" />
                                <label class="custom-control-label" [for]="'permission_' + i">
                  {{ permission.name }}
                </label>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </tab>
        </tabset>
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createEmployeeForm.form.valid || saving" (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>